a {
  text-decoration: none;
  color: #753ebd;
}

a:hover {
  border-bottom: 1px solid;
}

form {
  min-width: 50%;
  max-width: 50%;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#google {
  border-bottom: 0px;
}

#input-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.login {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.nav {
  height: 80px;
}

.nav a {
  margin: 0 1em;
}

.nav a:first-child:hover {
  border: none;
}

.nav p {
  margin: 0 1em;
}
