@media (max-width: 600px) {
  #adopt {
    position: relative;
    top: 80vh;
  }
  #header {
    display: none;
  }
  #pet-picker,
  #personality-picker {
    flex-direction: column;
  }
  #pet-picker {
    align-items: center;
  }
}

a {
  text-decoration: none;
  color: #753ebd;
}

form {
  min-width: 50%;
  max-width: 50%;
}

body {
  background-image: url('/welcome-bg.gif');
  background-repeat: round;
  background-size: contain;
  background-attachment: fixed;
}

#pet-picker,
#personality-picker {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#pet-picker input,
#personality-picker input {
  visibility: hidden;
}

#pet-picker > li,
#personality-picker > li {
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0%;
}

#pet-picker input + div {
  cursor: pointer;
  border: 2px solid transparent;
}

#pet-picker label img {
  max-width: 200px;
}

#pet-picker input:checked + div {
  border: 3px solid #eb887d;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #eb887d;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#google {
  border-bottom: 0px;
}

#input-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#logo-large {
  height: 70px;
  width: 70px;
  margin: 30px;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.left-logo {
  position: absolute;
  left: 4%;
  top: 10%;
}

.login {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

.nav {
  height: 80px;
}

.nav a {
  margin: 0 1em;
}

.nav a:first-child:hover {
  border: none;
}

.nav p {
  margin: 0 1em;
}

.pixel-font {
  font-family: 'Press Start 2P', cursive;
}

.pixel-font-white {
  font-family: 'Press Start 2P', cursive;
  color: white;
}
